.main{
   
    background: url("https://images.unsplash.com/photo-1625465004402-d16eb1e01960?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   background-blend-mode:hard-light;
}